<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        <img src="https://bulma.io/assets/Bulma%20Logo%20White.png" width="112" height="28">
      </a>
      <div>
        <span #burger class="navbar-burger" data-target="navMenu" (click)="showContents()">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active' : showMobileContents}">
      <div class="navbar-start">
        <a 
          class="navbar-item" 
          routerLink="/add" 
          routerLinkActive="active" 
          ariaCurrentWhenActive="page"
        >
          Add Page
        </a>
        <a 
          class="navbar-item" 
          routerLink="/delete" 
          routerLinkActive="active" 
          ariaCurrentWhenActive="page"
        >
          Delete Page
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-flex is-justify-content-space-between">
          <div class="buttons">
            <a class="button is-link">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>