<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo-link" routerLink=""></a>
    <div class="is-flex is-align-items-center mr-3">
      <a 
        class="navbar-burger burger " 
        (click)="toggleMobileMenu()" 
        role="button" aria-label="menu" 
        aria-expanded="false"
      >
        <span class="hamburger-icon" [ngClass]="{'is-active': mobileMenuActive}">
          <fa-icon [icon]="mobileMenuActive ? faX : faBars"></fa-icon>
        </span>
      </a>
    </div>
  </div>
  <div class="navbar-menu" [class.is-active]="mobileMenuActive">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="/add">Add</a>
      <a class="navbar-item" routerLink="/delete">Delete</a>
    </div>
  </div>
</nav>